/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET  */

body {
    background-image: url(backgraund.png);
    background-size: 100%; 
    overflow: hidden;
}

header {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    z-index: -9;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: -63px;
    color: #fff;
}

.text-one {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
}

.text-two {
    font-weight: 700;
    font-size: 100px;
    background: linear-gradient(to top, rgb(40, 38, 38), white);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}
/* HEADER */


    
.container {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.photo {
    height: auto;
    margin-bottom: -2px; 
    filter: grayscale(1);
    z-index: -1;
}

.explore-button {
    display: inline-flex;
    align-items: center; 
    padding: 5px 23px;
    background-color: #ef6824; 
    color: #fff; 
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.pk {
    margin-left: 10px; 
    width: 40px; 
    height: 40px;
    filter: invert(100%) sepia(94%) saturate(22%) hue-rotate(329deg) brightness(106%) contrast(108%);
}

.photo2 {
    position: absolute;
    z-index: -9;
    width: 393px;
    height: 393px;
    bottom: -9px;
    left: 53px;
}
/*BUTTON_AND_PHOTO*/


.close-note {
    display: none;
}

@media screen and (max-width: 768px) {
    * {
        display: none;
    }
}
