/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
    overflow-y: visible;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET  */
:root::-webkit-scrollbar {
    display: none;
}
:root {
    background-color: #211f20;
}

/* NAV */
nav {
    width: 650px;
    margin:  20px auto;
    overflow: hidden;
    border-radius: 20px;
    height: 100%;
    
}


ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    background-color: #ef6824;

}

li,
a {
    text-decoration: none;
    margin: 10px 20px;
    color: rgb(255, 255, 255);
    z-index: 2;
}

.zero {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}

.move2 {
    display: inline-flex;
    position: absolute;
    flex-direction: row;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    border: 1px solid rgb(221, 209, 209,0);
    box-sizing: border-box;
    overflow: hidden;
    width: 775px;
    height: 34px;
    margin: 19.5px auto;
    justify-content: space-between;
    z-index: 1;
}

.circle2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #ef6824;
    cursor: pointer;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #ef6824;
    cursor: pointer;
}

.circle img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    filter: invert(100%) sepia(94%) saturate(22%) hue-rotate(329deg) brightness(106%) contrast(108%);
}

.circle2 img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    filter: invert(100%) sepia(94%) saturate(22%) hue-rotate(329deg) brightness(106%) contrast(108%);
}

h1 {
    font-size: 40px;
    background: linear-gradient(to bottom, rgb(73, 70, 70), white);
    -webkit-background-clip: text;
    background-clip: text; /* Properti standar */
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    z-index: 9999;
    text-align: center;
    margin: 65px auto;
}

.movement {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.square {
    width: 400px;
    height: 230px;
    background-color: #383838;
    margin: 10px;
    border-radius: 10px;
}

/* SCROOL DESIGN */

.container {
    width: 98%;
    margin: auto;
    position: absolute;
    top: 200px;
    bottom: 0;
    right: 0;
    left: 0;
}

.carrousel {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch; /* Untuk mendukung scroll yang lebih smooth pada perangkat sentuh */
}


.card {
    scroll-snap-align: start;
    border-radius: 10px;
    min-height: 200px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383838;
    position: relative;
}

.link {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #211f20;
    outline: none;
    border: none;
    border-radius: 5px;
    top: 140px;
    right: 10px;
    z-index: 99999;
    cursor: grab;
}

.size {
    scale: 19%;
    position: absolute;
    border-radius: 50px;
    pointer-events: none;
}

.size_three {
    scale: 4.5%;
    position: absolute;
    border-radius: 50px;
    pointer-events: none;
}

.size_two {
    scale: 13.5%;
    position: absolute;
    border-radius: 50px;
    pointer-events: none;
}

.text2 {
    font-size: 40px;
    background: linear-gradient(to bottom, rgb(73, 70, 70), white);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    z-index: 9999;
    text-align: center;
    margin: 350px auto;
}

.container2 {
    width: 98%;
    margin: auto;
    position: absolute;
    top: 600px;
    bottom: 0;
    right: 0;
    left: 0;
}

.carrousel2 {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.card2 {
    scroll-snap-align: start;
    border-radius: 10px;
    min-height: 200px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383838;
    position: relative;
}

.link2 {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #211f20;
    outline: none;
    border: none;
    border-radius: 5px;
    top: 140px;
    right: 10px;
    z-index: 99999;
}

.see {
    rotate: -45deg;
    width: 25px;
    height: 25px;
    filter: invert(100%) sepia(94%) saturate(22%) hue-rotate(329deg) brightness(106%) contrast(108%);
    pointer-events: none;
}


